<% include ./common/header %>
<body>
    <h3 class="text-center">Pay XRP</h3>
    <div class="container">
        <div class="jumbotron">
                    <div class="text-center">
                        <form action="">
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <input type="text" name="address" class="form-control" placeholder="Please Enter Destination Address...">
                                </div>
                            </div>  
                            <div class="row">
                                <div class="form-group col-sm-3">
                                        <input type="text" name="amount" class="form-control" placeholder="Enter Amount to pay...">
                                </div>
                                <div class="col-sm-1 amount">
                                        in XRP
                                </div>                                
                            </div>                                    
                        </form>      
                    </div>
                    <div class="row">
                            <div class="col-sm-12">
                                    <button class="btn btn-success">Confirm & Pay</button>       
                            </div>                                    
                    </div> 
        </div>
    </div>
</body>
</html>